<div class="task-card" [class]="statusClass">
  <div class="task-header">
    <div class="status-badge" [class]="statusClass">
      <span-lucide [img]="isCompleted ? Check : Hourglass" class="status-icon"></span-lucide>
      <span class="status-text">{{ statusText }}</span>
    </div>

    <div class="task-actions">
      <button
        class="action-btn edit-btn"
        (click)="onEdit()"
        title="Edit task"
      >
        <lucide-icon [img]="Pen" class="action-edit-icon"></lucide-icon>
      </button>
      <button
        class="action-btn delete-btn"
        (click)="onDelete()"
        title="Delete task"
      >
        <lucide-icon [img]="Trash2" class="action-delete-icon"></lucide-icon>
      </button>
    </div>
  </div>

  <div class="task-content">
    <h3 class="task-title" [class.completed-text]="task.status === TaskStatus.COMPLETED">
      {{ task.title }}
    </h3>

    @if (task.description) {
      <p class="task-description">
        {{ task.description }}
      </p>
    } @else {
      <p class="task-description no-description">
        No description provided
      </p>
    }
  </div>

  <div class="task-footer">
    <button
      class="toggle-status-btn"
      [class.mark-complete]="task.status === TaskStatus.PENDING"
      [class.mark-pending]="task.status === TaskStatus.COMPLETED"
      (click)="onToggleStatus()"
    >
      @if (task.status === TaskStatus.PENDING) {
        <span>
          <lucide-icon [img]="Check"></lucide-icon> Mark as Complete
        </span>
      } @else if (task.status === TaskStatus.COMPLETED) {
        <span>
          <lucide-icon [img]="Refresh"></lucide-icon> Mark as Pending
        </span>
      }
    </button>
  </div>
</div>
